.promise-btn {
	background: #7DAF6B;
	border-radius: 20px;
	font-family: Pacifico;
	font-size: 34px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	padding: 10px 30px;
	position: absolute;
	bottom: 35px;
	right: 30px;
}