.search-block {
	width: 100%;
	background: #F8F8F8;
	border-radius: 10px;
	height: 50px;
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	& .name-input {
		border: none;
		background: transparent;
		padding: 15px;
		font-size: 16px;
	}
}

@media all and (max-width: 768px) {
	.search-block {
		width: 100%;
		height: auto;
		grid-template-columns: 1fr;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: calc(100% - 40px);
	}
}